---
- name: Create the /etc/gitlab/gitlab.rb file
  template:
    src: templates/pgbouncer.gitlab.rb.j2
    dest: /etc/gitlab/gitlab.rb
  tags: gitlab_template



- name: Download secrets file
  shell: gsutil cp gs://gitlab-conf-storage/gitlab-secrets.json /etc/gitlab/gitlab-secrets.json 2>/dev/null || true
  tags: secrets

- name: Reconfigure GitLab
  shell: gitlab-ctl reconfigure
  register: result
  retries: 1
  until: result is success
  tags: reconfigure

- name: Upload secrets file if missing
  shell: gsutil cp -n /etc/gitlab/gitlab-secrets.json gs://gitlab-conf-storage
  tags: secrets
  run_once: true

- name: Create .pgpass file
  command: gitlab-ctl write-pgpass --host 127.0.0.1 --database pgbouncer --hostuser gitlab-consul
  args:
    stdin: "{{ pgbouncer_password }}\n{{ pgbouncer_password }}\n"
    creates: /var/opt/gitlab/postgresql/.pgpass

# Bug - https://gitlab.com/gitlab-org/omnibus-gitlab/issues/3448
- name: Restart Consul
  command: gitlab-ctl restart consul

- name: Create skip-auto-reconfigure file
  file:
    path: /etc/gitlab/skip-auto-reconfigure
    state: touch
    mode: u=rw,g=r,o=r