include:
  - template: Security/Dependency-Scanning.gitlab-ci.yml
  - template: Security/Secret-Detection.gitlab-ci.yml
  - template: Security/Container-Scanning.gitlab-ci.yml

stages:
  - test
  - upload

#################################
##            SAST             ##
#################################

.on_merge_request_and_merged_events:
  rules:
    - if: '$CI_BUILD_REF_NAME == $CI_DEFAULT_BRANCH && $CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "merge_request_event"'

gemnasium-dependency_scanning:
  rules:
    - !reference [.on_merge_request_and_merged_events, rules]

gemnasium-python-dependency_scanning:
  variables:
    DS_MAJOR_VERSION: 2-python-3.9
  rules:
    - !reference [.on_merge_request_and_merged_events, rules]

bundler-audit-dependency_scanning:
  rules:
    - !reference [.on_merge_request_and_merged_events, rules]

secret_detection:
  rules:
    - !reference [.on_merge_request_and_merged_events, rules]

container_scanning:
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE:dev
  rules:
    - !reference [.on_merge_request_and_merged_events, rules]

container_scanning_release:
  extends: container_scanning
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
  rules:
    - if: '$CI_COMMIT_TAG'

#########################
##     Lint Checks     ##
#########################

check:terraform-fmt:
  stage: test
  image:
    name: "hashicorp/terraform"
    entrypoint: [ "" ]
  before_script:
    - terraform version
  script:
    - terraform fmt -check -recursive -diff terraform/
  only:
    - main
    - merge_requests
  except:
    - schedules
    - tags

check:tflint:
  stage: test
  image:
    name: ghcr.io/terraform-linters/tflint:latest
    entrypoint: [""]
  script:
    - find terraform/modules/* -type d -print0 | xargs -0 -n1 -I % sh -c "printf '\n%\n' && tflint -c .tflint.hcl %"
  only:
    - main
    - merge_requests
  except:
    - schedules
    - tags

check:ansible-lint:
  stage: test
  image: quay.io/ansible/toolset
  script:
    - chmod 700 ansible
    - cd ansible
    - ansible-galaxy install -r requirements/ansible-galaxy-requirements.yml
    - ansible-lint
  only:
    - main
    - merge_requests
  except:
    - schedules
    - tags

check:markdownlint:
  stage: test
  image:
    name: node:lts-alpine3.14
    entrypoint: [ "" ]
  script:
    - npm add -g markdownlint markdownlint-cli
    - markdownlint *.md docs/*.md
  only:
    - main
    - merge_requests
  except:
    - schedules
    - tags

check:markdown-link-check:
  stage: test
  image:
    name: ghcr.io/tcort/markdown-link-check
    entrypoint: [""]
  script:
    - find *.md docs/*.md -print0 | xargs -0 -n1 /src/markdown-link-check
  only:
    - main
    - merge_requests
  except:
    - schedules
    - tags

# Does the requirements.txt install?
check_requirements:
  stage: test
  image: python:3
  script:
    - python -m venv get-python-env
    - source ./get-python-env/bin/activate
    - pip install -r ansible/requirements/requirements.txt
    - ansible-galaxy install -r ansible/requirements/ansible-galaxy-requirements.yml
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - ansible/requirements/requirements.txt
        - ansible/requirements/ansible-galaxy-requirements.yml

########################
##      Packages      ##
########################

upload-terraform-module:
  stage: upload
  image: curlimages/curl:latest
  script:
    - cd terraform
    - tar -czf gitlab_environment_toolkit.tgz modules
    - 'curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file gitlab_environment_toolkit.tgz "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/terraform/modules/gitlab-environment-toolkit/gitlab/${CI_COMMIT_TAG}/file"'
  only:
    - tags

.upload-docker-image-base:
  stage: upload
  image: alpine
  services:
    - docker:stable-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
  before_script:
    - apk add -u --no-cache docker
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  tags:
    - docker

upload-docker-image-dev:
  extends: .upload-docker-image-base
  script:
    - docker build -t $CI_REGISTRY_IMAGE:dev .
    - docker push $CI_REGISTRY_IMAGE:dev
  only:
    - main

upload-docker-image-release:
  extends: .upload-docker-image-base
  script:
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
    - |
      if echo $CI_COMMIT_TAG | grep -qv ".*beta.*"; then
        docker tag $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG $CI_REGISTRY_IMAGE:latest
        docker push $CI_REGISTRY_IMAGE:latest
      fi
  only:
    - tags
