.DS_Store
/.vscode
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
secrets.auto.tfvars
.terraform/
logs/
ansible/test.yml
ansible/tmp/
.tool-versions
terraform/environments/*
!terraform/environments/README.md
ansible/inventories/*
!ansible/inventories/README.md
keys/*
!keys/README.md
config/*
!config/README.md
