---
- name: Perform Common Tasks
  block:
    - name: Add GitLab repository GPG key
      apt_key:
        url: https://gitlab-org.gitlab.io/omnibus-gitlab/gitlab_new_gpg.key
        state: present
      when: 
        - omnibus_node

    - name: Get GitLab json config file stats if it exists
      stat:
        path: "/opt/gitlab/embedded/nodes/{{ ansible_fqdn }}.json"
      register: gitlab_json_config_file
      tags: reconfigure

    - name: Delete GitLab json config file if malformed
      file:
        path: "/opt/gitlab/embedded/nodes/{{ ansible_fqdn }}.json"
        state: absent
      when:
        - gitlab_json_config_file.stat.exists
        - gitlab_json_config_file.stat.size < 500
      tags: reconfigure

    - name: Install system packages
      apt:
        name: ['aptitude', 'curl', 'openssh-server', 'ca-certificates', 'glances', 'nano', 'tzdata', 'postfix',
              'ack-grep', 'tree', 'python-pip', 'python3-pip', 'nfs-common']
        update_cache: yes
      tags: packages

    - name: Install python packages
      pip:
        name: ['requests', 'google-auth', 'netaddr', 'openshift', 'PyYAML', 'docker']
        extra_args: --upgrade
      tags: packages

    - name: Configure TCP keepalive settings
      sysctl:
        name: net.ipv4.tcp_keepalive_time
        value: '300'
        sysctl_set: yes
        state: present
        reload: yes
      tags: sysctl

    # Removes the official release repo if it's present as we typically want to stick with Nightly
    # Prevents apt from switching to the release channel (when an official release is younger than nightly)
    - name: Ensure only GitLab Nightly apt repo is installed unless specified otherwise
      file:
        path: /etc/apt/sources.list.d/gitlab_gitlab-ee.list
        state: absent
      when:
        - omnibus_node
        - gitlab_repo_script_url != "https://packages.gitlab.com/install/repositories/gitlab/gitlab-ee/script.deb.sh"

    - name: Download GitLab repository installation script
      get_url:
        url: "{{ gitlab_repo_script_url }}"
        dest: /tmp/gitlab_install_repository.sh
        force: yes
      register: repo_file
      when:
        - omnibus_node

    - name: Install GitLab repository
      command: bash /tmp/gitlab_install_repository.sh
      when:
        - omnibus_node
        - repo_file.changed

    - name: Unlock GitLab package updates
      command: apt-mark install gitlab-ee
      register: result
      retries: 2
      delay: 10
      until: result is success
      when: 
        - omnibus_node
      
    - name: Install GitLab repo package
      command: apt-get install {{ gitlab_repo_package }} -y --allow-downgrades
      args:
        warn: false
      when: 
        - omnibus_node
        - gitlab_repo_package != ''
        - gitlab_deb_package == ''

    - name: Install GitLab deb package
      apt:
        deb: "{{ gitlab_deb_package }}"
      when:
        - omnibus_node
        - gitlab_deb_package != ''

    - name: Lock GitLab package updates
      command: apt-mark hold gitlab-ee
      register: result
      retries: 2
      delay: 10
      until: result is success
      when:
        - omnibus_node

    - name: Update system packages to the latest version
      apt:
        upgrade: 'safe'
      register: result
      retries: 1
      until: result is success

    - set_fact:
        common_performed: true
  when: common_performed is not defined