global
    log /dev/log local0
    log localhost local1 notice
    log stdout format raw local0
    maxconn 2000
    daemon
 
defaults
    log global
    mode http
    default-server inter 10s fall 3 rise 2
    balance leastconn
    option httplog
    option dontlognull
    retries 3
    timeout connect 50000
    timeout client 50000
    timeout server 50000
 
frontend http-in
    bind *:80

    acl grafana path_beg -i /-/grafana
    use_backend grafana if grafana

    acl gitlab_k6_performance_test hdr_sub(User-Agent) GitlabK6PerformanceTest
    use_backend gitlab-rails if gitlab_k6_performance_test

    default_backend gitlab-rails
 
backend gitlab-rails
    option httpchk GET /-/health

{% for ip in gitlab_rails_ips %}
    server gitlab-rails{{loop.index}} {{ ip }}:80 check
{% endfor %}

backend grafana
    option httpchk GET /-/grafana/api/health

    server grafana {{ monitor_ip }}:80 check

listen stats
    bind *:1936
    mode http
    stats enable
    stats uri /