frontend http-in
    bind *:80

    acl gitlab-k6-performance-test hdr_sub(User-Agent) GitlabK6PerformanceTest
    use_backend gitlab-rails if gitlab-k6-performance-test

    acl gitlab-rails-api path_beg -i /api/v4
    use_backend gitlab-rails if gitlab-rails-api

    acl grafana path_beg -i /-/grafana
    use_backend grafana if grafana

    default_backend gitlab-rails

backend gitlab-rails
    option httpchk GET /-/liveness

{% for ip in gitlab_rails_int_ips %}
    server gitlab-rails{{loop.index}} {{ ip }}:80 check
{% endfor %}

backend grafana
    option httpchk GET /-/grafana/api/health

    server grafana {{ monitor_int_ip }}:80 check