global
    log /dev/log local0
    log localhost local1 notice
    log stdout format raw local0
    maxconn 10000
    nbproc {{ ansible_processor_vcpus }}
{% for cpu in range(ansible_processor_vcpus) %}
    cpu-map {{ cpu + 1 }} {{ cpu + 1 }}
{% endfor %}
    daemon
 
defaults
    log global
    mode http
    default-server inter 10s fall 3 rise 2
    balance leastconn
    compression algo gzip
    compression type text/css text/html text/plain text/xml application/json
    option httplog
    option dontlognull
    retries 3
    timeout connect 10m
    timeout client 30m
    timeout server 30m
    errorfile 503 /usr/local/etc/haproxy/errorfiles/503.http
 
{% if 'haproxy_external' in hostvars[inventory_hostname].group_names %}
{% include 'haproxy_external.cfg.j2' %}
{% else %}
{% include 'haproxy_internal.cfg.j2' %}
{% endif %}

listen stats
    bind *:1936
    http-request use-service prometheus-exporter if { path /metrics }
    mode http
    stats enable
    stats uri /
    stats refresh 10s
