global
    log /dev/log local0
    log localhost local1 notice
    log stdout format raw local0
    maxconn 10000
#    nbproc {{ ansible_processor_vcpus }}
#{% for cpu in range(ansible_processor_vcpus) %}
#    cpu-map {{ cpu + 1 }} {{ cpu + 1 }}
#{% endfor %}
    daemon
 
defaults
    log global
    mode http
    default-server inter 10s fall 3 rise 2
    balance leastconn
    compression algo gzip
    compression type text/css text/html text/plain text/xml application/json
    option httplog
    option dontlognull
    retries 3
    timeout connect 50000
    timeout client 50000
    timeout server 50000
 
frontend http-in
    bind *:80

    acl gitlab-k6-performance-test hdr_sub(User-Agent) GitlabK6PerformanceTest
    use_backend gitlab-rails if gitlab-k6-performance-test

    acl gitlab-rails-api path_beg -i /api/v4
    use_backend gitlab-rails if gitlab-rails-api

    acl grafana path_beg -i /-/grafana
    use_backend grafana if grafana

    default_backend gitlab-rails
 
backend gitlab-rails
    option httpchk GET /-/liveness

{% for ip in gitlab_rails_ips %}
    server gitlab-rails{{loop.index}} {{ ip }}:80 check
{% endfor %}

backend grafana
    option httpchk GET /-/grafana/api/health

    server grafana {{ monitor_ip }}:80 check

listen stats
    bind *:1936
    http-request use-service prometheus-exporter if { path /metrics }
    mode http
    stats enable
    stats uri /
    stats refresh 10s
