frontend internal-pgbouncer-tcp-in
    bind *:6432
    mode tcp
    option tcplog

    default_backend pgbouncer

backend pgbouncer
    mode tcp
    option tcp-check

{% for ip in pgbouncer_int_ips %}
    server pgbouncer{{loop.index}} {{ ip }}:6432 check
{% endfor %}