{% if geo_primary_site_group_name + '_postgres_primary' in groups %}
geo_primary_role['enable'] = true
{% else %}
gitlab_rails['db_password'] = "{{ postgres_password }}"

postgresql['sql_user_password'] = "{{ (postgres_password + 'gitlab') | md5 }}"
postgresql['listen_address'] = "{{ geo_primary_site_postgres_int_ip }}"
postgresql['max_replication_slots'] = 1
{% endif %}

{% if postgres_replication_manager == 'patroni' %}
patroni['replication_slots'] = {
{% for secondary_site in geo_secondary_sites %}
    '{{ secondary_site.group_name }}' => { 'type' => 'physical' },
{% endfor %}
}
postgresql['sql_replication_password'] = '{{ (postgres_password + 'gitlab_replicator') | md5 }}'
patroni['replication_password'] = '{{ postgres_password }}'

{% if patroni_password is defined %}
patroni['username'] = 'patroni-api'
patroni['password'] = '{{ patroni_password }}'
{% endif %}
{% endif %}
