gitlab_rails['geo_node_name'] = "{{ geo_secondary_site_name }}"
gitlab_rails['auto_migrate'] = false

{% if 'gitlab_rails' in group_names %}
geo_logcursor['enable'] = true
{% endif %}

geo_secondary['enable'] = true
geo_secondary['db_host'] = '{{ geo_tracking_postgres_host }}'
geo_secondary['db_password'] = '{{ geo_tracking_postgres_password }}'
geo_secondary['db_port'] = '{{ geo_tracking_postgres_port }}'
geo_secondary['auto_migrate'] = false
