- name: Configure Deletion Adjourned period
  uri:
    url: '{{ external_url_sanitised }}/api/v4/application/settings'
    method: PUT
    headers:
      PRIVATE-TOKEN: '{{ access_token_key }}'
    body:
      deletion_adjourned_period: 0
    status_code: 200, 201
    body_format: json

- name: Disable Limits
  uri:
    url: '{{ external_url_sanitised }}/api/v4/application/settings'
    method: PUT
    headers:
      PRIVATE-TOKEN: '{{ access_token_key }}'
    body:
      issues_create_limit: 0
      raw_blob_request_limit: 0
      max_import_size: 10240 # https://gitlab.com/gitlab-org/gitlab/-/issues/259801
    status_code: 200, 201
    body_format: json

- name: Disable User Signup
  uri:
    url: '{{ external_url_sanitised }}/api/v4/application/settings'
    method: PUT
    headers:
      PRIVATE-TOKEN: '{{ access_token_key }}'
    body:
      signup_enabled: false
    status_code: 200, 201
    body_format: json

- name: Enable Distributed Reads for Gitaly Cluster
  command: gitlab-rails runner "Feature.enable(:gitaly_distributed_reads)"
  when: "'praefect' in groups"
