 gitlab_rails['object_store']['connection'] = {
   'provider' => 'Google',
   'google_project' => '{{ project_name }}',
   'google_json_key_location' => '{{ serviceaccount_path }}'
 }

registry['storage'] = {
  'gcs' => {
    'bucket' => '{{ gitlab_object_storage }}'
  }
}
