# Disable all components except Consul
# roles ['consul_role', 'redis_sentinel_role']
roles ['consul_role']

gitlab_rails['auto_migrate'] = false

consul['enable'] = true
consul['configuration'] = {
  server: true,
  retry_join: %w({{ consul_int_ips | join(' ') }}),
  bind_addr: '{{ ansible_default_ipv4.address }}'
}
consul['monitoring_service_discovery'] =  true
node_exporter['listen_address'] = '0.0.0.0:9100'