---
- hosts: gitlab_rails
  vars:
    consul_ips: "{{ groups['consul'] | map('extract', hostvars, ['networkInterfaces']) |  map('first') | map(attribute='networkIP') | list }}"
    ip_test: "{{ ansible_default_ipv4.address }}/16"

  tasks:
  - debug:
      msg: "{{ groups['postgres_secondary'] | map('extract', hostvars, ['networkInterfaces']) |  map('first') | map(attribute='networkIP') | join(',') }}"

  - debug:
      # msg: "opentracing://jaeger?http_endpoint=http%3A%2F%2F{{ jaeger_int_ip }}%3A14268%2Fapi%2Ftraces&sampler=const&sampler_param=0.1"
      # msg: "{{ jaeger_int_ip is defined }}"
      # msg: "{{ jaeger_int_ip|length }}"
      # msg: "{{ (groups['jaeger'] | map('extract', hostvars, ['networkInterfaces']) |  map('first') | map(attribute='networkIP') | join('')) if 'jaeger' in groups else '' }}"
      msg: "{{ jaeger }}"

  - debug:
      # msg: "{{ zip(groups['gitaly'] | map('regex_search', 'gitaly-\\d+') | list, 1) }}"
      msg: "{{ ansible_memory_mb.real.total }} - {{ ((ansible_memory_mb.real.total | int) * 0.9) | round | int }}mb"

  - debug:
      msg: "{{ gitlab_rails_db_pool }}"
