external_url '{{ external_url }}'

# Enable Prometheus
prometheus['enable'] = true
prometheus['listen_address'] = '0.0.0.0:9090'
prometheus['monitor_kubernetes'] = false

# Enable Grafana
grafana['enable'] = true
grafana['admin_password'] = 'password'
grafana['disable_login_form'] = false
grafana['allow_user_sign_up'] = true

consul['enable'] = true
consul['configuration'] = {
  retry_join: %w({{ consul_internal_ips | join(' ') }}),
  bind_addr: '{{ ansible_default_ipv4.address }}'
}
consul['monitoring_service_discovery'] =  true

node_exporter['listen_address'] = '0.0.0.0:9100'

nginx['status']['options'] = {
  "server_tokens" => "off",
  "access_log" => "off",
  "allow" => "{{ monitor_ip }}",
  "deny" => "all",
}

# Disable all other services
gitlab_rails['auto_migrate'] = false
alertmanager['enable'] = false
gitaly['enable'] = false
gitlab_exporter['enable'] = false
gitlab_workhorse['enable'] = false
nginx['enable'] = true
postgres_exporter['enable'] = false
postgresql['enable'] = false
redis['enable'] = false
redis_exporter['enable'] = false
sidekiq['enable'] = false
unicorn['enable'] = false
puma['enable'] = false