- name: Configure Subscription or License via GitLab Rails
  block:
    - name: Configure Subscription or License file if missing via GitLab Rails
      command: |
        gitlab-rails runner "
          print License.current.plan if License.current&.plan != nil

          if '{{ gitlab_subscription_activation_code }}' != ''
            GitlabSubscriptions::ActivateService.new.execute('{{ gitlab_subscription_activation_code }}')
          elsif '{{ gitlab_license_text }}' != ''
            license = License.new(data: '{{ gitlab_license_text }}')
            license.save
          end

          print License.current.plan
        "
      delegate_to: "{{ groups['gitlab_rails'][0] }}"
      delegate_facts: true
      become: true
      no_log: true
      diff: false
      register: configure_license_response

    - name: Save License Plan
      set_fact:
        gitlab_license_plan: "{{ configure_license_response.stdout }}"
  when: "'gitlab_rails' in groups"
  tags: license

- name: Configure Subscription or License via GitLab Toolbox pod
  block:
    - name: Configure Subscription or License file if missing via GitLab Toolbox pod
      kubernetes.core.k8s_exec:
        pod: "{{ toolbox_pod }}"
        namespace: "{{ gitlab_charts_release_namespace }}"
        command: |
          gitlab-rails runner "
            print License.current.plan if License.current&.plan != nil

            if '{{ gitlab_subscription_activation_code }}' != ''
              GitlabSubscriptions::ActivateService.new.execute('{{ gitlab_subscription_activation_code }}')
            elsif '{{ gitlab_license_text }}' != ''
              license = License.new(data: '{{ gitlab_license_text }}')
              license.save
            end

            print License.current.plan
          "
      no_log: true
      diff: false
      register: configure_license_response

    - name: Save License Plan
      set_fact:
        gitlab_license_plan: "{{ configure_license_response.stdout }}"
  when:
    - toolbox_pod is defined
    - "'gitlab_rails' not in groups"
  tags: license
