 gitlab_rails['object_store']['connection'] = {
    'provider' => 'AzureRM',
    'azure_storage_account_name' => '{{ azure_storage_account_name }}',
    'azure_storage_access_key' => '{{ azure_storage_access_key }}',
 }

registry['storage'] = {
  'Azure' => {
    'bucket' => '{{ gitlab_object_storage }}'
  }
}
