# Disable all components except Pgbouncer and Consul agent
roles ['pgbouncer_role']

# Configure Pgbouncer
pgbouncer['admin_users'] = %w(pgbouncer gitlab-consul)
pgbouncer['users'] = {
  'gitlab-consul': {
    password: "{{ (consul_password + 'gitlab-consul') | md5 }}"
  },
  'pgbouncer': {
    password: "{{ (pgbouncer_password + 'pgbouncer') | md5 }}"
  }
}

# Configure Consul agent
consul['watchers'] = %w(postgresql)
consul['enable'] = true
consul['configuration'] = {
  bind_addr: '{{ ansible_default_ipv4.address }}',
  retry_join: %w({{ (consul_int_ips if 'consul' in groups else gitlab_rails_int_ips) | join(' ') }})
}
consul['monitoring_service_discovery'] =  true

node_exporter['listen_address'] = '0.0.0.0:9100'

pgbouncer_exporter['enable'] = true
pgbouncer_exporter['listen_address'] = '0.0.0.0:9188'
