# Disable all components except Pgbouncer and Consul agent
roles ['pgbouncer_role']

# Configure Pgbouncer
pgbouncer['admin_users'] = %w(pgbouncer gitlab-consul)
pgbouncer['users'] = {
  'gitlab-consul': {
    password: "{{ (consul_password + 'gitlab-consul') | md5 }}"
  },
  'pgbouncer': {
    password: "{{ (pgbouncer_password + 'pgbouncer') | md5 }}"
  }
}
pgbouncer['admin_users']
pgbouncer['max_client_conn'] = '8192'

# Configure Consul agent
consul['watchers'] = %w(postgresql)
consul['enable'] = true
consul['configuration'] = {
  retry_join: %w({{ consul_internal_ips | join(' ') }}),
  bind_addr: '{{ ansible_default_ipv4.address }}'
}
consul['monitoring_service_discovery'] =  true

node_exporter['listen_address'] = '0.0.0.0:9100'

# Bug? Seems to fail. To investigate.
pgbouncer_exporter['enable'] = false
