---

gcp_backups_object_storage_key: "{{ (lookup('file', gcp_service_account_host_file) | tojson) if cloud_provider == 'gcp' else '' }}"
aws_backups_object_storage_key: "{{ lookup('template', 'templates/backup_object_storage_key.aws.s3cfg.j2') if cloud_provider == 'aws' else '' }}"
