---
gitlab_charts_repo_name: 'gitlab'
gitlab_charts_repo_url: "https://charts.gitlab.io/"

gitlab_charts_show_values: false

gcp_backups_object_storage_key: "{{ (lookup('file', gcp_service_account_host_file) | string) if cloud_provider == 'gcp' else '' }}"
aws_backups_object_storage_key: "{{ lookup('template', 'object_storage/backup_object_storage_key.aws.s3cfg.j2') if cloud_provider == 'aws' else '' }}"

# Default Replica / Pod counts based on Ref Arch Gitaly CPU counts
webservice_default_replica_counts:
    192: 80
    96: 35
    48: 20
    24: 10
    12: 4
    4: 6
sidekiq_default_replica_counts:
    192: 14
    96: 14
    48: 14
    24: 8
    12: 8
    4: 2
