# Disable all components except PostgreSQL and Repmgr and Consul
roles ['postgres_role']
{% if postgres_version is defined %}
postgresql['version'] = {{ postgres_version }}
{% endif %}

{% if install_patroni is defined and install_patroni %}
# Enable Patroni
patroni['enable'] = true

{% if groups['postgres'] | length > 1 %}
patroni['postgresql']['max_wal_senders'] = {{ (groups['postgres'] | length) + 1 }}
patroni['postgresql']['max_replication_slots'] = {{ (groups['postgres'] | length) + 1 }}

patroni['use_pg_rewind'] = true
{% endif %}

{% else %}
# Enable Repmgr
{% if postgres_version is not defined %}
postgresql['version'] = 11
{% endif %}
postgresql['shared_preload_libraries'] = 'repmgr_funcs'
repmgr['trust_auth_cidr_addresses'] = %w(0.0.0.0/0)
postgresql['wal_level'] = 'replica'
postgresql['hot_standby'] = 'on'

{% if groups['postgres'] | length > 1 %}
postgresql['max_wal_senders'] = {{ (groups['postgres'] | length) + 1 }}
postgresql['max_replication_slots'] = {{ (groups['postgres'] | length) + 1 }}
repmgr['master_on_initialization'] = {{ postgres_repmgr_master }}
{% endif %}

{% endif %}

# PostgreSQL configuration
postgresql['listen_address'] = '0.0.0.0'
postgresql['max_connections'] = 330
postgresql['wal_log_hints'] = 'on'

postgresql['pgbouncer_user_password'] = "{{ (pgbouncer_password + 'pgbouncer') | md5 }}"
postgresql['sql_user_password'] = "{{ (postgres_password + 'gitlab') | md5 }}"

postgresql['trust_auth_cidr_addresses'] = %w(0.0.0.0/0)

gitlab_rails['auto_migrate'] = false

# Consul
consul['services'] = %w(postgresql)
consul['enable'] = true
consul['configuration'] = {
  bind_addr: '{{ ansible_default_ipv4.address }}',
  retry_join: %w({{ (consul_int_ips if 'consul' in groups else gitlab_rails_int_ips) | join(' ') }})
}
consul['monitoring_service_discovery'] =  true

# Monitoring
postgres_exporter['listen_address'] = '0.0.0.0:9187'
postgres_exporter["env"] = {
  "SSL_CERT_DIR" => "/opt/gitlab/embedded/ssl/certs/",
  "DATA_SOURCE_NAME" => "user=gitlab-psql host=localhost database=postgres sslmode=disable"
}
node_exporter['listen_address'] = '0.0.0.0:9100'
