# Disable all components except PostgreSQL and Repmgr and Consul
roles ['postgres_role']

# PostgreSQL configuration
postgresql['listen_address'] = '0.0.0.0'
postgresql['hot_standby'] = 'on'
postgresql['wal_level'] = 'replica'
postgresql['shared_preload_libraries'] = 'repmgr_funcs'

# Disable automatic database migrations
gitlab_rails['auto_migrate'] = false

postgresql['pgbouncer_user_password'] = 'pgbouncer-test-password'
postgresql['sql_user_password'] = 'postgres-test-password'
# Replace X with value of number of db nodes + 1
postgresql['max_wal_senders'] = 4
postgresql['max_replication_slots'] = 4

# Replace XXX.XXX.XXX.XXX/YY with Network Address
postgresql['trust_auth_cidr_addresses'] = %w()
repmgr['trust_auth_cidr_addresses'] = %w()

repmgr['master_on_initialization'] = {{ postgres_repmgr_master }}

# Consul
consul['services'] = %w(postgresql)
consul['configuration'] = {
  retry_join: %w(),
  bind_addr: ''
}
consul['monitoring_service_discovery'] =  true

# Monitoring
postgres_exporter['listen_address'] = '0.0.0.0:9187'
postgres_exporter["env"] = {
         "SSL_CERT_DIR" => "/opt/gitlab/embedded/ssl/certs/",
         "DATA_SOURCE_NAME" => "user=gitlab-psql host=localhost database=postgres sslmode=disable"
       }
node_exporter['listen_address'] = '0.0.0.0:9100'