# Disable all components except PostgreSQL and Repmgr and Consul
roles ['postgres_role']

# PostgreSQL configuration
postgresql['listen_address'] = '0.0.0.0'
postgresql['hot_standby'] = 'on'
postgresql['wal_level'] = 'replica'
postgresql['shared_preload_libraries'] = 'repmgr_funcs'

gitlab_rails['auto_migrate'] = false

postgresql['pgbouncer_user_password'] = "{{ (pgbouncer_password + 'pgbouncer') | md5 }}"
postgresql['sql_user_password'] = "{{ (postgres_password + 'gitlab') | md5 }}"

postgresql['max_wal_senders'] = "{{ ((groups['postgres_primary'] + groups['postgres_secondary']) | length) + 1 }}"
postgresql['max_replication_slots'] = "{{ ((groups['postgres_primary'] + groups['postgres_secondary']) | length) + 1 }}"

postgresql['trust_auth_cidr_addresses'] = %w(0.0.0.0/0)
repmgr['trust_auth_cidr_addresses'] = %w(0.0.0.0/0)

repmgr['master_on_initialization'] = {{ postgres_repmgr_master }}

# Consul
consul['services'] = %w(postgresql)
consul['enable'] = true
consul['configuration'] = {
  retry_join: %w({{ consul_int_ips | join(' ') }}),
  bind_addr: '{{ ansible_default_ipv4.address }}'
}
consul['monitoring_service_discovery'] =  true

# Monitoring
postgres_exporter['listen_address'] = '0.0.0.0:9187'
postgres_exporter["env"] = {
  "SSL_CERT_DIR" => "/opt/gitlab/embedded/ssl/certs/",
  "DATA_SOURCE_NAME" => "user=gitlab-psql host=localhost database=postgres sslmode=disable"
}
node_exporter['listen_address'] = '0.0.0.0:9100'